



/** @format */

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.panel {
  display: flex;
  width: 60vw;
  background-color: aqua;
  justify-content: space-around;
  height: 20vh;
  align-items: center;
}

.controls {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block {
  display: flex;
}

.robotUp {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #000;
}

.robotDown {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #000;
}

.robotLeft {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #000;
}

.robotRight {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #000;
}
